@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+3D&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../styles/beach.jpg)!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    border: 0.10em solid rgb(17, 177, 218);
    border-radius: 10px;
    display: grid;
    width: 30em;
    height: auto;
    background: rgba(26, 138, 179, 0.4)
    /* background-image: url(../styles/boat-sea.jpg)!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.box h2 {
    margin-bottom: 50px;
    padding-top: 0.50em;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Rock 3D', cursive;
    text-shadow: 2px 2px 8px #1a1919;
}

input {
    padding: 10px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #64A6BD;
    outline: none;
    font-size: 22px;
    margin-left: 35px;
}

input ::placeholder {
    font-size: 26px;
}

#btnGen {
    display: flex;
    font-size: 22px;
    font-weight: 700;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    color: white;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    padding-top: 10px;
    margin-left: 35%;
    border-radius: 50px;
}

#btnGen:hover {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}