html,
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    border: 0.25em solid brown;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(..\ethan-dow-l2tQdtapKX4-unsplash.jpg);
}

.box {
    border: 0.10em solid green;
    display: grid;
    width: 30em;
    height: 20em;
}

.box h2 {
    margin-bottom: 40px;
    padding-top: 1em;
    text-align: center;
    font-size: 26px;
    color: white;
    font-family: sans-serif;
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #64A6BD;
    outline: none;
    font-size: 22px;
    margin-left: 35px;
}

input ::placeholder {
    font-size: 26px;
}

#btnGen {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    background-color: #d09d1f;
    background-image: linear-gradient(315deg, #d09d1f 0%, #c6920d 74%);
    color: white;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    padding-top: 10px;
    margin-left: 35%;
}

#btnGen:hover {
    color: #f5ff90;
    background-color: #1e1d1b;
    background-image: linear-gradient(315deg, #1e1d1b 0%, #cc9934 74%);
}